<div class="alert alert-danger" *ngIf="errorNoDataMessage">
    <p>Attention:</p>
    <div>
        {{errorNoDataMessage}}
    </div>
</div>

<div class="container-fluid bodycolor" *ngIf="displayHomeInformation">
    <div class="row">
        <h1>Home Information</h1>
    </div>
    <div>
        <hr aria-hidden="true" />
    </div>
    <div #errors>
        <dfps-form-validation [shouldCheckDirty]="true" [validationErrors]="validationErrors"
            [validationErrorsLength]="validationErrorsLength">
        </dfps-form-validation>
    </div>
    <div class="alert alert-primary" *ngIf="displayHomeInformation?.attentionMessages && !hideAttentionMessage">
        <p>Attention:</p>
        <div *ngIf="displayHomeInformation?.attentionMessages">
            <ul *ngFor="let message of displayHomeInformation?.attentionMessages">
                <li>{{message}}</li>
            </ul>
        </div>
    </div>
    <div class="row" [hidden]="bHideApproveButton">
        <div class="d-flex col-md-11 pt-4">
            <dfps-button label="Approval status" _id="approvalStatus" (click)="showApproval()"></dfps-button>
        </div>
    </div>
    <form [formGroup]="homeInfoForm">
        <div class="row">
            <div class="text-left col-6 mt-2">Case Name #: {{displayHomeInformation.homeName }}</div>
            <div class="requiredDisplay text-right mt-2 col-6" tabindex="0">
                <span class="sr-only">Red asterisk is </span>required field
            </div>
        </div>
        <div class="row">
            <div class="text-left col-6 mt-2">Resource ID: {{ displayHomeInformation.resource ?
                displayHomeInformation.resource.resourceId : ''}}</div>
            <div class="conReqDisplay text-right mt-2 col-6" tabindex="0">
                <span class="sr-only">Double dagger is </span>conditionally required field
            </div>
        </div>
        <div class="form-group mt-5">
            <h2>Home Information</h2>
            <div class="row pl-4">
                <div class="d-flex col-md-4 pt-4">
                    <label for="homeName" class="col-sm-6 col-form-label col-form-label-sm">Home
                        Name:</label>
                    <div class="col-sm-6">
                        {{displayHomeInformation.resource.name}}
                    </div>
                </div>
                <div class="d-flex col-md-2"></div>
                <div class="d-flex col-md-4 pt-4">
                    <label for="resourceId" class="col-sm-6 col-form-label col-form-label-sm">Resource
                        ID:</label>
                    <div class="col-sm-6">
                        {{displayHomeInformation.resource ? displayHomeInformation.resource.resourceId : ''}}
                    </div>
                </div>
            </div>
            <div class="row pl-4">
                <div class="d-flex col-md-4 pt-4">
                    <label for="category" class="col-sm-6 col-form-label col-form-label-sm"
                        [ngClass]="{'requiredDisplay': isCategoryReq}">Category:</label>
                    <div class="col-sm-6">
                        <dfps-select _id="category" ariaLabel="Category is Required" formControlName="category"
                            [dropDownValues]="displayHomeInformation.category" (change)="categoryChange()">
                        </dfps-select>
                    </div>
                </div>
                <div class="d-flex col-md-2"></div>
                <div class="d-flex col-md-4 pt-4 pb-4">
                    <label for="status" class="col-sm-6 col-form-label col-form-label-sm">Status:</label>
                    <div class="col-sm-6">
                        <dfps-select _id="status" ariaLabel="Status" formControlName="status"
                            [dropDownValues]="displayHomeInformation.status" (change)="statusChange()"
                            [blankOption]="false">
                        </dfps-select>
                    </div>
                </div>
            </div>
            <dfps-collapsable-section>
                <accordion>
                    <accordion-group class="accordion-group pt-2" heading="Home Demographics" [isOpen]="isHomeDemo">
                        <div class="row pl-4">
                            <div class="d-flex col-md-4 pt-4">
                                <label for="ethnicity"
                                    class="col-sm-6 col-form-label col-form-label-sm">Ethnicity:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="ethnicity" ariaLabel="Ethnicity" formControlName="ethnicity"
                                        [dropDownValues]="displayHomeInformation.ethnicity">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-2"></div>
                            <div class="d-flex col-md-4 pt-4">
                                <label for="language"
                                    class="col-sm-6 col-form-label col-form-label-sm">Language:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="language" ariaLabel="Language" formControlName="language"
                                        [dropDownValues]="displayHomeInformation.language">
                                    </dfps-select>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-4">
                            <div class="d-flex col-md-4 pt-4">
                                <label for="religion"
                                    class="col-sm-6 col-form-label col-form-label-sm">Religion:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="religion" ariaLabel="Religion" formControlName="religion"
                                        [dropDownValues]="displayHomeInformation.religion">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-2"></div>
                            <div class="d-flex col-md-4 pt-4">
                                <label for="annualIncome"
                                    class="col-sm-6 col-form-label col-form-label-sm conReqDisplay">Annual
                                    Income:</label>
                                <div class="col-sm-6">
                                    <dfps-input _id="annualIncome" formControlName="annualIncome" currency=true
                                        maxlength="12" ariaLabel="Annual Income is Conditionally Required"></dfps-input>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-4">
                            <div class="d-flex col-md-4 pt-4">
                                <label for="maritalStatus"
                                    class="col-sm-6 col-form-label col-form-label-sm conReqDisplay">Marital
                                    Status:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="maritalStatus"
                                        ariaLabel="Marital Status is Conditionally Required"
                                        formControlName="maritalStatus"
                                        [dropDownValues]="displayHomeInformation.maritalStatus"
                                        (change)="maritalStatusChange()">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-2"></div>
                            <div class="d-flex col-md-4 pt-4">
                                <label for="marriageDate"
                                    class="col-sm-6 col-form-label col-form-label-sm conReqDisplay">Marriage
                                    Date:</label>
                                <div class="col-sm-6">
                                    <dfps-date-picker _id="marriageDate" formControlName="marriageDate"
                                        ariaLabel="Marriage Date is Conditionally Required"></dfps-date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-4">
                            <div class="d-flex col-md-4 pt-4">
                                <label for="sourceOfInquiry" class="col-sm-6 col-form-label col-form-label-sm">Source of
                                    Inquiry:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="sourceOfInquiry" ariaLabel="Source Of Inquiry"
                                        formControlName="sourceOfInquiry"
                                        [dropDownValues]="displayHomeInformation.sourceOfInquiry">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-2"></div>
                            <div class="d-flex col-md-4 pt-4">
                                <label for="respite" class="col-sm-6 col-form-label col-form-label-sm">Respite:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="respite" ariaLabel="Respite" formControlName="respite"
                                        [dropDownValues]="displayHomeInformation.respite">
                                    </dfps-select>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-4">
                            <div class="d-flex col-md-6 pt-4">
                                <div class="col-sm-6">
                                    <dfps-checkbox _id="nonPRSHome" [formControl]="homeInfoForm.controls['nonPRSHome']"
                                        ariaLabel="Non-FPS Adoptive Home" label="Non-FPS Adoptive Home"
                                        inputName="nonPRSHome" (change)="nonFpsAdoptiveHomeChange()"
                                        (click)="nonFpsAdoptiveHomeChange()">
                                    </dfps-checkbox>
                                </div>
                                <div class="col-sm-6">
                                    <dfps-checkbox _id="nonPRSPCA" [formControl]="homeInfoForm.controls['nonPRSPCA']"
                                        ariaLabel="Non-FPS PCA Home" label="Non-FPS PCA Home" inputName="nonPRSPCA"
                                        (change)="nonFpsPcaHomeChange()" (click)="nonFpsPcaHomeChange()">
                                    </dfps-checkbox>
                                </div>
                            </div>
                            <div class="d-flex col-md-6 pt-4">
                                <div class="col-sm-6">
                                    <dfps-checkbox _id="individualStudy"
                                        [formControl]="homeInfoForm.controls['individualStudy']"
                                        ariaLabel="Individual Study Process" label="Individual Study Process"
                                        inputName="individualStudy">
                                    </dfps-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-4"
                            *ngIf="(homeInfoForm.controls['nonPRSPCA'].value) && homeInfoForm.get('certifyEntity').value!=='40'">
                            <div class="d-flex col-md-12 pt-4">
                                <label for="homeName" class="col-sm-6 col-form-label col-form-label-sm">Please select
                                    the
                                    Resource ID of the corresponding Non-FPS Foster Home:</label>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class="d-flex col-md-4 pt-4">
                                <label for="homeName"
                                    class="col-sm-6 col-form-label col-form-label-sm conReqDisplay">Linked Agency Home
                                    Name:</label>
                                <div class="col-sm-6">
                                    {{this.displayHomeInformation.linkedResourceName}}
                                </div>
                            </div>
                            <div class="d-flex col-md-2"></div>
                            <div class="d-flex col-md-4 pt-4">
                                <label for="resourceId" class="col-sm-6 col-form-label col-form-label-sm conReqDisplay">
                                    Linked Agency Home Resource ID:</label>
                                <div class="col-sm-6">
                                    {{this.displayHomeInformation.linkedResourceId}}
                                </div>
                            </div>
                            <div class="d-flex justify-content-end pt-4 mt-2">
                                <div class="d-flex btn-sm">
                                    <dfps-button add-button size="small" label="Select Resource"
                                        (click)="selectResource()" [disabled]="bHideSelectResourceButton">
                                    </dfps-button>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-4">
                            <div class="d-flex col-md-4 pt-4">
                                <label for="certifyEntity"
                                    class="col-sm-6 col-form-label col-form-label-sm conReqDisplay">Certifying
                                    Entity:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="certifyEntity"
                                        ariaLabel="Certifying Entity is Conditionally Required"
                                        formControlName="certifyEntity"
                                        [dropDownValues]="displayHomeInformation.certifyingEntity">
                                    </dfps-select>
                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group class="accordion-group pt-2" heading="Address List" [isOpen]="isAddress">
                        <div class="row" id="addressListTable">
                            <div class="col-md-12">
                                <dfps-data-table [dataTable]="addressListDatatable" class="data-table dataTableConfig"
                                    (selectedData)="selectedAddress($event)">
                                </dfps-data-table>
                            </div>
                        </div>
                        <div class="d-flex" *ngIf="!bHideAddressAndPhoneButtons">
                            <div class="justify-content-start mr-auto p-2">
                                <dfps-button add-button size="small" label="Delete" tabindex="0"
                                    _id="addressDeleteButtonId" (click)="deleteAddress()"
                                    [hidden]="bHideAddressAndPhoneButtons">
                                </dfps-button>
                            </div>
                            <div class="justify-content-end p-2">
                                <dfps-button add-button size="small" label="Add" _id="addressAddButtonId"
                                    (click)="addAddress()" [hidden]="bHideAddressAndPhoneButtons">
                                </dfps-button>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group class="accordion-group pt-2" heading="Phone List" [isOpen]="isPhone">
                        <div class="row" id="phoneListTable">
                            <div class="col-md-12">
                                <dfps-data-table [dataTable]="phoneListDatatable" class="data-table dataTableConfig"
                                    (selectedData)="selectedPhone($event)">
                                </dfps-data-table>
                            </div>
                        </div>
                        <div class="d-flex" *ngIf="!bHideAddressAndPhoneButtons">
                            <div class="justify-content-start mr-auto p-2">
                                <dfps-button add-button size="small" label="Delete" tabindex="0"
                                    _id="phoneDeleteButtonId" [hidden]="bHideAddressAndPhoneButtons"
                                    (click)="deletePhone()">
                                </dfps-button>
                            </div>
                            <div class="justify-content-end p-2">
                                <dfps-button add-button size="small" label="Add" _id="phoneAddButtonId"
                                    [hidden]="bHideAddressAndPhoneButtons" (click)="addPhone()">
                                </dfps-button>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group class="accordion-group pt-2" heading="Home Interest">
                        <h2>Male Age Range Interests</h2>
                        <div class="row pl-4">
                            <div class="d-flex col-md-3 pt-4 pb-4">
                                <label for="selectedMaleMinYearHomeInterest"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Min Year:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedMaleMinYearHomeInterest"
                                        ariaLabel="Male Minimum Year is Conditionally Required"
                                        formControlName="selectedMaleMinYearHomeInterest" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.year">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedMaleMinMonthHomeInterest"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Min Month:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedMaleMinMonthHomeInterest"
                                        ariaLabel="Male Minimum Month is Conditionally Required"
                                        formControlName="selectedMaleMinMonthHomeInterest" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.month">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedMaleMaxYearHomeInterest"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Max Year:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedMaleMaxYearHomeInterest"
                                        ariaLabel="Male Maximum Year is Conditionally Required"
                                        formControlName="selectedMaleMaxYearHomeInterest" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.year">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedMaleMaxMonthHomeInterest"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Max Month:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedMaleMaxMonthHomeInterest"
                                        ariaLabel="Male Maximum Month is Conditionally Required"
                                        formControlName="selectedMaleMaxMonthHomeInterest" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.month">
                                    </dfps-select>
                                </div>
                            </div>
                        </div>
                        <h2>Female Age Range Interests</h2>
                        <div class="row pl-4">
                            <div class="d-flex col-md-3 pt-4 pb-4">
                                <label for="selectedFemaleMinYearHomeInterest"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Min Year:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedFemaleMinYearHomeInterest"
                                        ariaLabel="Female Minimum Year Conditionally Required"
                                        formControlName="selectedFemaleMinYearHomeInterest" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.year">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedFemaleMinMonthHomeInterest"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Min Month:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedFemaleMinMonthHomeInterest"
                                        ariaLabel="Female Minimum Month is Conditionally Required"
                                        formControlName="selectedFemaleMinMonthHomeInterest" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.month">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedFemaleMaxYearHomeInterest"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Max Year:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedFemaleMaxYearHomeInterest"
                                        ariaLabel="Female Maximum Year is Conditionally Required"
                                        formControlName="selectedFemaleMaxYearHomeInterest" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.year">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedFemaleMaxMonthHomeInterest"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Max Month:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedFemaleMaxMonthHomeInterest"
                                        ariaLabel="Female Maximum Month is Conditionally Required"
                                        formControlName="selectedFemaleMaxMonthHomeInterest" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.month">
                                    </dfps-select>
                                </div>
                            </div>
                        </div>
                        <h2>Child Ethnicities</h2>
                        <div class="pt-2 pb-2">
                            <dfps-multi-select id="childesEthnicity"
                                [multiSelectValues]="displayHomeInformation.childesEthnicity"
                                formControlName="childesEthnicity" inputName="childesEthnicity"
                                [multiSelectDisabled]="disableChildesEthnicity"
                                (selectedValues)="selectedChildEthnicityValues($event)"
                                [preSelectedValues]="childesEthnicity"
                                ariaLabel="Child Ethnicities">
                            </dfps-multi-select>
                        </div>
                        <h2 class="pt-4">Child Characteristics</h2>
                        <dfps-multi-select id="childCharacteristics"
                            [multiSelectValues]="displayHomeInformation.childCharacteristics"
                            formControlName="childCharacteristics" inputName="childCharacteristics"
                            [multiSelectDisabled]="disableChildCharacteristics"
                            (selectedValues)="selectedChildCharacteristicsValues($event)"
                            [preSelectedValues]="childCharacteristics"
                            ariaLabel="Child Characteristics">
                        </dfps-multi-select>
                        <h2 class="pt-4">Child Placement Information</h2>
                        <div class="row pl-4">
                            <div class="d-flex col-md-4 pt-4 pb-4">
                                <label for="maxNoChildren"
                                    class="col-sm-5 col-form-label col-form-label-sm conReqDisplay">Number of
                                    Children:</label>
                                <div class="col-sm-4">
                                    <dfps-input _id="maxNoChildren" formControlName="maxNoChildren" maxlength="3"
                                        ariaLabel="Number Of Children is Conditionally Required"></dfps-input>
                                </div>
                            </div>
                            <div class="d-flex col-md-4 pt-4">
                                <div class="col-sm-8">
                                    <dfps-checkbox _id="transport" [formControl]="homeInfoForm.controls['transport']"
                                        ariaLabel="Will Transport Children" label="Will Transport Child[ren]"
                                        inputName="transport">
                                    </dfps-checkbox>
                                </div>
                            </div>
                            <div class="d-flex col-md-4 pt-4">
                                <div class="col-sm-8">
                                    <dfps-checkbox _id="emergencyPlacement"
                                        [formControl]="homeInfoForm.controls['emergencyPlacement']"
                                        ariaLabel="Emergency Placements" label="Emergency Placements"
                                        inputName="emergencyPlacement">
                                    </dfps-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-4">
                            <div class="d-flex col-md-8 pt-4 pb-4">
                                <label class="col-sm-6 col-md-6 col-2" for="comments">
                                    Comments:</label>
                                <dfps-textarea class="col-sm-6 col-md-6 col-2" id="comments" formControlName="comments"
                                    maxLength="300" ariaLabel="Comments"></dfps-textarea>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group class="accordion-group pt-2" heading="Home License">
                        <h2>Placement Information</h2>
                        <div class="row pl-4">
                            <div class="d-flex col-md-4 pt-4">
                                <label for="facilityCapacity"
                                    class="col-sm-6 col-form-label col-form-label-sm conReqDisplay">Capacity:</label>
                                <div class="col-sm-6">
                                    <dfps-input _id="facilityCapacity" formControlName="facilityCapacity" maxlength="4"
                                        ariaLabel="facilityCapacity is Conditionally Required" (keyup)="setOpenSlots()">
                                    </dfps-input>
                                </div>
                            </div>
                            <div class="d-flex col-md-2"></div>
                            <div class="d-flex col-md-4 pt-4">
                                <label for="placements" class="col-sm-6 col-form-label col-form-label-sm g">#
                                    Placements:</label>
                                <div class="col-sm-6">
                                    {{displayHomeInformation.placementCount}}
                                </div>
                            </div>
                        </div>
                        <div class="row pl-4">
                            <div class="d-flex col-md-4 pt-4">
                                <label for="openSlots" class="col-sm-6 col-form-label col-form-label-sm">Open
                                    Slots:</label>
                                <div class="col-sm-6">
                                    {{displayHomeInformation?.resource?.openSlots}}
                                </div>
                            </div>
                            <div class="d-flex col-md-2"></div>
                            <div class="d-flex col-md-4 pt-4 pb-4">
                                <div class="col-sm-6">
                                    <dfps-checkbox _id="onHold" [formControl]="homeInfoForm.controls['onHold']"
                                        ariaLabel="On Hold" label="On Hold" inputName="onHold" (click)="onHoldChange()">
                                    </dfps-checkbox>
                                </div>
                            </div>
                        </div>
                        <h2>Male Age Range Approved</h2>
                        <div class="row pl-4">
                            <div class="d-flex col-md-3 pt-4 pb-4">
                                <label for="selectedMaleMinYear"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Min Year:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedMaleMinYear" ariaLabel="Male Minimum Year"
                                        formControlName="selectedMaleMinYear" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.year">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedMaleMinMonth"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Min Month:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedMaleMinMonth" ariaLabel="Male Minimum Month"
                                        formControlName="selectedMaleMinMonth" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.month">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedMaleMaxYear"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Max Year:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedMaleMaxYear" ariaLabel="Male Maximum Year"
                                        formControlName="selectedMaleMaxYear" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.year">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedMaleMaxMonth"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Max Month:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedMaleMaxMonth" ariaLabel="Male Maximum Month"
                                        formControlName="selectedMaleMaxMonth" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.month">
                                    </dfps-select>
                                </div>
                            </div>
                        </div>
                        <h2>Female Age Range Approved</h2>
                        <div class="row pl-4">
                            <div class="d-flex col-md-3 pt-4 pb-4">
                                <label for="selectedFemaleMinYear"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Min Year:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedFemaleMinYear" ariaLabel="Female Minimum Year"
                                        formControlName="selectedFemaleMinYear" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.year">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedFemaleMinMonth"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Min Month:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedFemaleMinMonth" ariaLabel="Female Minimum Month"
                                        formControlName="selectedFemaleMinMonth" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.month">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedFemaleMaxYear"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Max Year:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedFemaleMaxYear" ariaLabel="Female Maximum Year"
                                        formControlName="selectedFemaleMaxYear" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.year">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-3 pt-4">
                                <label for="selectedFemaleMaxMonth"
                                    class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">Max Month:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="selectedFemaleMaxMonth" ariaLabel="Female Maximum Month"
                                        formControlName="selectedFemaleMaxMonth" [blankOption]=false
                                        [dropDownValues]="displayHomeInformation.month">
                                    </dfps-select>
                                </div>
                            </div>
                        </div>
                        <h2>Foster Home Type </h2>
                        <div class="row">
                            <div class="col-md-12">
                                <dfps-multi-select id="homeType" [multiSelectValues]="displayHomeInformation.homeType"
                                    formControlName="selectedHomeTypeData" inputName="homeType"
                                    [preSelectedValues]="selectedHomeTypeData"
                                    (selectedValues)="selectedHomeTypeValues($event)"
                                    [multiSelectDisabled]="disableHomeTypes"
                                    ariaLabel="Foster Home Type">
                                </dfps-multi-select>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-12">
                                <label for="homeTypeFilteredValues" class="col-sm-12 col-form-label col-form-label-sm">
                                    <h5>Foster Parent's Relationship to Children Being Placed:<i
                                            class="fa fa-question-circle fa_custom_blue" aria-hidden="true"
                                            (click)="helpIcon()"></i>
                                    </h5>
                                </label>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-md-12">
                                <dfps-multi-select id="relationship" [multiSelectValues]="relationship"
                                    formControlName="selectedHomeTypeRelationship" inputName="relationship"
                                    [preSelectedValues]="selectedHomeTypeRelationship"
                                    (selectedValues)="selectedHomeTypeRelationshipValues($event)"
                                    [multiSelectDisabled]="disableRelationship"
                                    ariaLabel="Foster Parent's Relationship to Children Being Placed">
                                </dfps-multi-select>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group class="accordion-group pt-2" heading="Close Home">
                        <div class="row pl-4">
                            <div class="d-flex col-md-4 pt-4">
                                <label for="closureReason"
                                    class="col-sm-6 col-form-label col-form-label-sm conReqDisplay"
                                    [ngClass]="{'requiredDisplay': isClosureFieldManadatory}">Closure
                                    Reason:</label>
                                <div class="col-sm-12">
                                    <dfps-select _id="closureReason" ariaLabel="Closure Reason is Conditionally Required"
                                        formControlName="closureReason"
                                        [dropDownValues]="displayHomeInformation.closureReason">
                                    </dfps-select>
                                </div>
                            </div>
                            <div class="d-flex col-md-4 pt-4 offset-sm-2">
                                <label for="recommendReopening"
                                    class="col-sm-6 col-form-label col-form-label-sm">Recommend
                                    Re-opening:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="recommendReopening"
                                        ariaLabel="Recommend Reopening"
                                        formControlName="recommendReopening"
                                        [dropDownValues]="displayHomeInformation.recommendReopening">
                                    </dfps-select>
                                </div>
                            </div>
                        </div>
                        <div class="row pl-4">
                            <div class="d-flex col-md-4 pt-4">
                                <label for="involuntaryClosure"
                                    class="col-sm-6 col-form-label col-form-label-sm">Involuntary
                                    Closure:</label>
                                <div class="col-sm-6">
                                    <dfps-select _id="involuntaryClosure"
                                        ariaLabel="Involuntary Closure"
                                        formControlName="involuntaryClosure"
                                        [dropDownValues]="displayHomeInformation.involuntaryClosure">
                                    </dfps-select>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </dfps-collapsable-section>
            <div class="d-flex justify-content-end mt-2">
                <div class="d-flex btn-sm">
                    <dfps-button add-button size="small" label="Save And Assign" [hidden]="bHideAssignButton"
                        (click)="saveAndAssign()">
                    </dfps-button>
                </div>
                <div class="d-flex btn-sm">
                    <dfps-button add-button size="small" label="Save And Submit" [hidden]="bHideSaveSubmitButton"
                        (click)="submit()"> </dfps-button>
                </div>
                <div class="d-flex btn-sm">
                    <dfps-button add-button size="small" label="Save" [hidden]="bHideSaveButton" (click)="save()">
                    </dfps-button>
                </div>
            </div>
        </div>
        <div class="row">
            <br />
        </div>
        <div class="card formPanel" *ngIf="!bHideDocumentButton">
            <div class="p-2 mb-2 card-heading formHeader">
                <h2>Home Study</h2>
            </div>
            <div class="p-2 mb-2 card-body">
                <div class="row">
                    <div class="d-flex col-md-6 pt-6">
                        <dfps-narrative _id="narrative" label="Document" [narrativeData]="getNarrative()"
                            createEvent='true'>
                        </dfps-narrative>
                        <div *ngIf="displayHomeInformation.homeStudyDocExists">
                            <span class="fa fa-check ml-1 mt-2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <br />
        </div>
        <div class="card formPanel">
            <div class="p-2 mb-2 card-heading formHeader">
                <h2>Forms and Reports Launch</h2>
            </div>
            <div class="row pl-4">
                <div class="d-flex col-md-4 pt-4 pb-4">
                    <dfps-form-launch formId="formsLaunch" buttonId="formLaunch" [formValues]='formValues'>
                    </dfps-form-launch>
                </div>
                <div class="d-flex col-md-2"></div>
                <div class="d-flex col-md-4 pt-4">
                    <dfps-report-launch reportId="reportsLaunch" [reportsValues]='reports' buttonId="reportLaunch"
                        [createEvent]='true'>
                    </dfps-report-launch>
                </div>
            </div>
        </div>
    </form>
</div>