<div class="container-fluid bodycolor" *ngIf="homeAssessmentListRes">
    <div class="row">
        <h1>Home Assessment/Addendum List</h1>
    </div>
    <div>
        <hr aria-hidden="true" />
    </div>
    <form [formGroup]="assessmentAddendumListForm">
        <div class="row">
            <div class="text-left col-6 mt-2">Stage Name: {{homeAssessmentListRes.stageName}}</div>
            <div class="text-right mt-2 col-6" tabindex="0">
                # Submitted Events
            </div>
        </div>
        <div class="row">
            <div class="text-left col-6 mt-2">Case ID: {{homeAssessmentListRes.caseId}}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <dfps-data-table [dataTable]="homeAssessmentListDataTable" class="data-table dataTableConfig">
                </dfps-data-table>
            </div>
        </div>
        <div class="d-flex justify-content-end w-100 p-2">
            <dfps-button add-button size="small" label="Add" _id="addButtonId" (click)="add()" [hidden]="hideAddButton">
            </dfps-button>
        </div>
        <div class="row">
            <br />
        </div>
        <div class="card formPanel">
            <div class="p-2 mb-2 card-heading formHeader">
                <h2>Reports</h2>
            </div>
            <div class="p-2 mb-2 card-body">
                <div class="row">
                    <div class="d-flex col-md-4 pt-4">
                        <dfps-report-launch reportId="reportsLaunch" [reportsValues]='reports'
                        buttonId='reportLaunch' [createEvent]='true'>
                        </dfps-report-launch>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>