<div class="alert alert-danger" *ngIf="errorNoDataMessage">
    <p>Attention:</p>
    <div>
        {{errorNoDataMessage}}
    </div>
</div>
<div class="container-fluid bodycolor" *ngIf="investigationLetter">
    <div class="row">
        <h1>Letter Detail</h1>
    </div>
    <div>
        <hr aria-hidden="true" />
    </div>
    <div #errors>
        <dfps-form-validation [shouldCheckDirty]="true" [validationErrors]="validationErrors"
            [validationErrorsLength]="validationErrorsLength">
        </dfps-form-validation>
    </div>
    <div class="alert alert-primary" *ngIf="investigationLetterRes?.attentionMessages && !hideAttentionMessage">
        <p>Attention:</p>
        <div *ngIf="investigationLetterRes?.attentionMessages">
            <ul *ngFor="let message of investigationLetterRes?.attentionMessages">
                <li>{{message}}</li>
            </ul>
        </div>
    </div>
    <form [formGroup]="investigationLetterForm">
        <div class="row">
            <div class="text-left col-3 col-md-4 col-lg-3 col-xl-2 col-xxl-3 mt-2 pl-4"><b>Stage Name:</b></div>
            <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mt-2 pl-2">{{investigationLetterRes.stageName}}</div>
            <div class="requiredDisplay text-right mt-2 col-5 col-md-4 col-lg-5 col-xl-6 col-xxl-5" tabindex="0">
                <span class="sr-only">Red asterisk is </span>required field
            </div>
        </div>
        <div class="row">
            <div class="text-left col-3 col-md-4 col-lg-3 col-xl-2 col-xxl-3 mt-2 pl-4"><b>Case ID:</b></div>
            <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mt-2 pl-2">{{investigationLetterRes.caseId}}</div>
            <div class="conReqDisplay text-right mt-2 col-5 col-md-4 col-lg-5 col-xl-6 col-xxl-5" tabindex="0">
                <span class="sr-only">Double dagger is </span>conditionally required field
            </div>
        </div>

        <div class="form-group mt-4">
            <div class="row pl-4">
                <h2>{{letterTypeDecode}}</h2>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7">
                <label for="letterMethod" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Method:</label>
                <div class="col-sm-4">
                    <dfps-select _id="letterMethod" ariaLabel="Method is Required" formControlName="letterMethod"
                        [dropDownValues]="investigationLetterRes.letterMethods" (change)="letterMethodChange()">
                    </dfps-select>
                </div>
            </div>
        </div>

        <div class="row pl-3" *ngIf="!hideRecipientNumber">
            <div class="d-flex col-md-7 pt-4" >
                <label for="recipientNumber" class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">
                    Regular/Certified Mail<br/><span class="pl-3">Return Receipt Number:</span></label>
                <div class="col-sm-4 pt-3">
                    <dfps-input _id="recipientNumber" formControlName="recipientNumber" maxlength="30"
                            ariaLabel="Regular/Certified Mail Return Recipient Number is Conditionally Required">
                        </dfps-input>
                </div>
            </div>
        </div>

        <div class="form-group mt-4 pt-2 pl-4">
            <div class="row font-weight-bolder">
                <span style="font-size: 18px;">Letter To:</span>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 align-items-center">
                <label for="administratorName" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Parent Name:</label>
                <div class="col-sm-6">
                    <dfps-input _id="administratorName" formControlName="administratorName" maxlength="100"
                        ariaLabel="Parent Name is Required" >
                    </dfps-input>
                </div>
                <div class="flex btn-sm">
                    <dfps-button #searchParentButton class="pr-1" size="extraSmall" label="Search" _id="searchParentButton" (click)="searchParent()"
                        *ngIf="!hideSearchButton">
                    </dfps-button>
                </div>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="addressLine1" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Address Line 1:</label>
                <div class="col-sm-8">
                    <dfps-input _id="addressLine1" formControlName="addressLine1" maxlength="30"
                        ariaLabel="Address Line 1 is Required" (change)="onAddressChange($event)">
                    </dfps-input>
                </div>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="addressLine2" class="col-sm-4 col-form-label col-form-label-sm pl-1">Address Line 2:</label>
                <div class="col-sm-8">
                    <dfps-input _id="addressLine2" formControlName="addressLine2" maxlength="30"
                        ariaLabel="Address Line 2" (change)="onAddressChange($event)">
                    </dfps-input>
                </div>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="addressCity" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">City:</label>
                <div class="col-sm-4">
                    <dfps-input _id="addressCity" formControlName="addressCity" ariaLabel="City is Required"
                        maxlength="20" (change)="onAddressChange($event)">
                    </dfps-input>
                </div>
                <label for="addressState" class="col-sm-1 col-form-label col-form-label-sm requiredDisplay">State:</label>
                <div class="col-sm-3">
                    <dfps-select _id="addressState" ariaLabel="State is Required" formControlName="addressState"
                        [dropDownValues]="investigationLetterRes.states" (change)="stateChange($event)">
                    </dfps-select>
                </div>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4 align-items-center">
                <label for="addressZip" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Zip:</label>
                <div class="col-sm-2 col-md-2 pr-1">
                    <dfps-input _id="addressZip" ariaLabel="Zip is Required" formControlName="addressZip" maxlength="5"
                        (change)="onAddressChange($event)">
                    </dfps-input>
                </div>
                <label for="addressZipExt" class="text-center px-1"><span>&nbsp;-&nbsp;</span></label>
                <div class="d-flex col-sm-2 pl-0 pl-1">
                    <dfps-input _id="addressZipExt" ariaLabel="Zip Extension" formControlName="addressZipExt" maxlength="4"
                        ariaLabel="Zip Extension" (change)="onAddressChange($event)"></dfps-input>
                </div>
                <div class="d-flex btn-sm">
                    <dfps-address-validator _id="validateAddress" label="Validate" class="pl-1"
                        size="extraSmall" *ngIf="!hideValidateButton"
                        (click)="validateAdressFields()" (validatedAddressEvent)="updateAdressFields($event)">
                    </dfps-address-validator>
                </div>
            </div>
        </div>

        <div class="form-group mt-4">
            <div class="row pt-3 pl-4 font-weight-bolder">
                <span style="font-size: 18px;">Body:</span>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-1">
                <label for="letterBodyDear" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Dear:</label>
                <div class="col-sm-4">
                    <dfps-input _id="letterBodyDear" formControlName="letterBodyDear" maxlength="100"
                        ariaLabel="Dear is Required">
                    </dfps-input>
                </div>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4  align-items-center">
                <label for="childsFirstName"
                class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Child's First Name:</label>
                <div class="col-sm-4">
                    <dfps-input _id="childsFirstName" formControlName="childsFirstName"
                        maxlength="50" ariaLabel="Child's First Name is Required">
                    </dfps-input>
                </div>
                <div class="flex btn-sm">
                    <dfps-button #searchChildButton class="pr-1" size="extraSmall" label="Search" _id="searchChildButton" (click)="searchChild()"
                        *ngIf="!hideSearchButton">
                    </dfps-button>
                </div>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="fecilityId" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Operation Name:</label>
                <div class="col-sm-4">
                    <dfps-select _id="fecilityId" ariaLabel="Operation name is Required" formControlName="fecilityId"
                        [dropDownValues]="investigationLetterRes.operationNames">
                    </dfps-select>
                </div>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4 ">
                <label for="interviewDate"
                class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Interview Date:</label>
                <div class="col-sm-3">
                    <dfps-date-picker _id="interviewDate" formControlName="interviewDate"
                        ariaLabel="Interview Date is Required">
                    </dfps-date-picker>
                </div>
            </div>
        </div>
        <div class="form-group mt-4 pt-2">
            <div class="row pl-4 font-weight-bolder">
                <span style="font-size: 18px;">Investigator Information:</span>
            </div>
        </div>

        <div class="row pl-3 mt-4 pt-2">
            <div class="d-flex col-md-7">
                <label for="investigatorName"
                class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Investigator Name:</label>
                <div class="col-sm-4">
                    <dfps-input _id="investigatorName" formControlName="investigatorName"
                        maxlength="50" ariaLabel="Investigator Name is Required">
                    </dfps-input>
                </div>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="investigatorDesignation"
                class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Designation:</label>
                <div class="col-sm-4">
                    <dfps-input _id="investigatorDesignation" formControlName="investigatorDesignation"
                        ariaLabel="Designation is Required" maxlength="50">
                    </dfps-input>
                </div>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="investigatorPhoneNumber"
                class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Phone Number:</label>
                <div class="col-sm-4">
                    <dfps-input _id="investigatorPhoneNumber" formControlName="investigatorPhoneNumber"
                        ariaLabel="Phone Number is Required" maxlength="14" (change)="fmtPhoneNumber($event)">
                    </dfps-input>
                </div>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="investigatorEmail"
                class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Email Address:</label>
                <div class="col-sm-4">
                    <dfps-input _id="investigatorEmail" formControlName="investigatorEmail"
                        ariaLabel="Email Address is Required" maxlength="50">
                    </dfps-input>
                </div>
            </div>
        </div>
        <div class="row">
            <br />
        </div>

        <div>
            <hr aria-hidden="true">
        </div>

        <div class="d-flex">
            <div class="justify-content-start mr-auto p-2">
                <dfps-button class="mr-4" size="small" label="Delete" tabindex="0" _id="deleteButton"
                    *ngIf="!hideDeleteButton" [disabled]="disableDeleteButton" (click)="delete()">
                </dfps-button>
                <dfps-button size="small" label="Download" tabindex="0" _id="downloadButton" (click)="download()"
                    *ngIf="!hideDownloadButton" [disabled] = "disableDownloadButton">
                </dfps-button>
                <dfps-button size="small" label="Download Draft" tabindex="0" _id="downloadDraftButton" (click)="downloadDraft()"
                    *ngIf="!hideDownloadDraftButton" [disabled] = "disableDownloadDraftButton">
                </dfps-button>
            </div>
            <div class="justify-content-end p-2">
                <dfps-button class="mr-4" size="small" label="Save and Complete" _id="submitButton" (click)="submit()"
                    *ngIf="!hideSaveSubmitButton">
                </dfps-button>
                <dfps-button size="small" label="Save" _id="saveButton" (click)="save()"
                    *ngIf="!hideSaveButton">
                </dfps-button>
            </div>
        </div>
    </form>
</div>
