<div class="alert alert-danger" *ngIf="errorNoDataMessage">
    <p>Attention:</p>
    <div>
        {{errorNoDataMessage}}
    </div>
</div>
<div class="container-fluid bodycolor" *ngIf="investigationLetter">
    <div class="row">
        <h1>Letter Detail</h1>
    </div>
    <div>
        <hr aria-hidden="true" />
    </div>
    <div #errors>
        <dfps-form-validation [shouldCheckDirty]="true" [validationErrors]="validationErrors"
            [validationErrorsLength]="validationErrorsLength">
        </dfps-form-validation>
    </div>
    <div class="alert alert-primary" *ngIf="investigationLetterRes?.attentionMessages && !hideAttentionMessage">
        <p>Attention:</p>
        <div *ngIf="investigationLetterRes?.attentionMessages">
            <ul *ngFor="let message of investigationLetterRes?.attentionMessages">
                <li>{{message}}</li>
            </ul>
        </div>
    </div>
    <form [formGroup]="investigationLetterForm">
        <div class="row mt-2 justify-content-between gap-4">
            <div class="d-flex col-sm-7">
                <div class="col-sm-4">
                    <b>Stage Name:</b>
                </div>
                <div class="col-sm-8">
                    {{investigationLetterRes.stageName}}
                </div>
            </div>
            <div class="requiredDisplay mr-4 pl-4" tabindex="0">
                <span class="sr-only">Red asterisk is </span>required field
            </div>
        </div>
        <div class="row mt-2 justify-content-between gap-4">
            <div class="d-flex col-sm-7">
                <div class="col-sm-4">
                    <b>Case ID:</b>
                </div>
                <div class="col-sm-8">
                    {{investigationLetterRes.caseId}}
                </div>
            </div>
            <div class="conReqDisplay mr-4 pl-4" tabindex="0">
                <span class="sr-only">Double dagger is </span>conditionally required field
            </div>
        </div>
        <div class="form-group pt-4 pl-2">
            <div class="row ml-0">
                <h2>{{letterTypeDecode}}</h2>
            </div>
        </div>
        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-3">
                <label for="letterMethod" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Method:</label>
                <div class="col-sm-4">
                    <dfps-select _id="letterMethod" ariaLabel="Method is Required" formControlName="letterMethod" (change) = "letterMethodChange()"
                         [dropDownValues]="investigationLetterRes.letterMethods" >
                    </dfps-select>
                </div>
            </div>
        </div>
        <div class="row pl-3" *ngIf="!hideRecipientNumber">
            <div class="d-flex col-md-7 pt-3">
                <label for="recipientNumber" class="col-sm-4 col-form-label col-form-label-sm conReqDisplay">
                    Regular/Certified Mail <br> Return Receipt Number:</label>
                <div class="col-sm-4 pl-3">
                    <dfps-input _id="recipientNumber" formControlName="recipientNumber" maxlength="30"
                        ariaLabel="Regular/Certified Mail Return Recipient Number is Conditionally Required">
                    </dfps-input>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="row">
                <b class="pl-4 mb-3 font-size-larger">Letter To</b>
            </div>
        </div>
        <div class="row pl-3">
            <div class="d-flex col-md-7 align-items-center">
                <label for="administratorName" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">
                    Parent Name:</label>
                <div class="col-sm-5">
                    <dfps-input _id="administratorName" formControlName="administratorName" maxlength="100"
                        ariaLabel="Name is Required">
                    </dfps-input>
                </div>
                <div class="flex btn-sm">
                    <dfps-button #searchPersonButton class="pr-1" size="extraSmall" label="Search" _id="searchButton"
                        (click)="searchPerson()" *ngIf="!hideSearchButton">
                    </dfps-button>
                </div>
            </div>
        </div>
        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="addressLine1" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Address Line 1:</label>
                <div class="col-sm-7">
                    <dfps-input _id="addressLine1" formControlName="addressLine1" maxlength="30"
                        ariaLabel="Address Line 1 is Required">
                    </dfps-input>
                </div>
            </div>
        </div>
        <div class="row pl-4">
            <div class="d-flex col-md-7 pt-4">
                <label for="addressLine2" class="col-sm-4 col-form-label col-form-label-sm">Address Line 2:</label>
                <div class="col-sm-7 pl-2">
                    <dfps-input _id="addressLine2" formControlName="addressLine2" maxlength="30"
                        ariaLabel="Address Line 2">
                    </dfps-input>
                </div>
            </div>
        </div>
        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="addressCity" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">City:</label>
                <div class="col-sm-3">
                    <dfps-input _id="addressCity" formControlName="addressCity" ariaLabel="City is Required"
                        maxlength="20">
                    </dfps-input>
                </div>
                <label for="addressState"
                    class="col-sm-1 col-form-label col-form-label-sm requiredDisplay">State:</label>
                <div class="col-sm-3">
                    <dfps-select _id="addressState" ariaLabel="State is Required" formControlName="addressState"
                        [dropDownValues]="investigationLetterRes.states">
                    </dfps-select>
                </div>
            </div>
        </div>
        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4 align-items-center">
                <label for="addressZip" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Zip:</label>
                <div class="col-sm-2 col-md-2 pr-0">
                    <dfps-input _id="addressZip" ariaLabel="Zip is Required" formControlName="addressZip" maxlength="5">
                    </dfps-input>
                </div>
                <label for="addressZipExt" class="text-center px-2"><span>&nbsp;-&nbsp;</span></label>
                <div class="d-flex col-sm-2 pl-0 pr-0">
                    <dfps-input _id="addressZipExt" ariaLabel="Zip Extension" formControlName="addressZipExt"
                        maxlength="4" ariaLabel="Zip Extension"></dfps-input>
                </div>
                <div class="d-flex btn-sm">
                    <dfps-address-validator _id="validateAddress" label="Validate" size="extraSmall"
                        *ngIf="!hideValidateButton" (click)="validateAdressFields()"
                        (validatedAddressEvent)="updateAdressFields($event)">
                    </dfps-address-validator>
                </div>
            </div>
        </div>
        <div class="form-group mt-4">
            <div class="row">
                <b class="pl-4 font-size-larger">Body</b>
            </div>
        </div>
        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-1">
                <label for="letterBodyDear" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Dear:</label>
                <div class="col-sm-4">
                    <dfps-input _id="letterBodyDear" formControlName="letterBodyDear" maxlength="100"
                        ariaLabel="Dear is Required">
                    </dfps-input>
                </div>
            </div>
        </div>
        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="bodyOperationName" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Operation Name:</label>
                <div class="col-sm-4">
                    <dfps-select _id="bodyOperationName" ariaLabel="Operation name is Required" formControlName="bodyOperationName"
                    [dropDownValues]="investigationLetterRes?.operationNames" >
                    </dfps-select>
                </div>
            </div>
        </div>
        <div class="row pl-3">
            <div class="d-flex col-md-5 pt-4">
                <div class="col-form-label col-form-label-sm requiredDisplay">
                    <span class="font-weight-bolder">
                        Allegations:
                    </span>
                </div>
            </div>
        </div>

        <div class="row pl-4 pt-3">
            <div class="d-flex col-md-12 findings">
                <div class="row col-md-8">
                    <div class="col-md-5 findings-ap-cell">
                        <div class="row">
                            <div class="col-md-12 findings-header-cell"><br> &nbsp;Alleged Victim <br> &nbsp;</div>
                        </div>
                    </div>
                    <div class="col-md-5 findings-ap-cell">
                        <div class="row">
                            <div class="col-md-12 findings-header-cell"><br>Allegation Type of <br> Abuse, Neglect or
                                Exploitation</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div *ngFor="let victim of investigationLetter.initialLetterAllegations;let i=index;">
            <div class="row pl-4">
                <div class="d-flex col-md-12 findings">
                    <div class="row col-md-8">
                        <div class="col-md-5 findings-ap-cell">
                            <div class="row align-items-center h-full">
                                 <div class="col-md-3 findings-cb-container">
                                     <input type="checkbox" [checked]="victim.checked" name="victim{{i}}" id="victim{{i}}"
                                        (click)="updateIndex($event.target.checked, i)" [disabled]="disableCheckBox">
                                </div>
                                <div class="col-md-8">
                                    <label class="font-weight-normal" for="victim{{i}}">
                                        {{victim.victimName}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row h-full" >
                                <div class="col-md-12 findings-cell" *ngFor="let allegation of victim.allegationType">{{allegation}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mt-4">
            <div class="row pl-4">
                <div class="d-flex interview-status">
                    <label for="interviewStatus"
                        class="col-sm-2 col-form-label col-form-label-sm requiredDisplay">Interview Status:</label>

                    <div class="wrapper col-md-6 pl-4">
                     I <div class=" form-control1"><dfps-select _id="interviewStatus" ariaLabel="Status is Required" formControlName="interviewStatus"
                        [dropDownValues]="investigationLetterRes.interviewStatuses" >
                    </dfps-select></div>
                     your child as part of our investigation of these allegations. CCI interviews with a child alleged to be a
                     victim of abuse, neglect or exploitation require audio- or video-recording of the interview and may require photographing any injuries or
                     lack thereof.
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group mt-4">
            <div class="row">
                <b class="pl-4 font-size-larger">Investigator Information</b>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7">
                <label for="investigatorName"
                    class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Investigator Name:</label>
                <div class="col-sm-5">
                    <dfps-input _id="investigatorName" formControlName="investigatorName" maxlength="50"
                        ariaLabel="Investigator Name is Required">
                    </dfps-input>
                </div>
            </div>
        </div>

        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="investigatorDesignation"
                    class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Designation:</label>
                <div class="col-sm-5">
                    <dfps-input _id="investigatorDesignation" formControlName="investigatorDesignation"
                        ariaLabel="Designation is Required" maxlength="50">
                    </dfps-input>
                </div>
            </div>
        </div>
        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="investigatorPhoneNumber"
                    class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Phone Number:</label>
                <div class="col-sm-5">
                    <dfps-input _id="investigatorPhoneNumber" formControlName="investigatorPhoneNumber"
                        ariaLabel="Phone Number is Required" maxlength="14">
                    </dfps-input>
                </div>
            </div>
        </div>
        <div class="row pl-3">
            <div class="d-flex col-md-7 pt-4">
                <label for="investigatorEmail" class="col-sm-4 col-form-label col-form-label-sm requiredDisplay">Email
                    Address:</label>
                <div class="col-sm-5">
                    <dfps-input _id="investigatorEmail" formControlName="investigatorEmail"
                        ariaLabel="Email Address is Required" maxlength="50">
                    </dfps-input>
                </div>
            </div>
        </div>
        <div class="row">
            <br />
        </div>
        <div>
            <hr aria-hidden="true">
        </div>
        <div class="d-flex">
            <div class="justify-content-start mr-auto p-2">
                <dfps-button class="mr-4" size="small" label="Download" tabindex="0" _id="downloadButton"
                    *ngIf="!hideDownloadButton" (click)="download()">
                </dfps-button>
                <dfps-button class="mr-4" size="small" label="Delete" tabindex="0" _id="deleteButton"
                    *ngIf="!hideDeleteButton" [disabled]="disableDeleteButton" (click)="delete()">
                </dfps-button>
                <dfps-button size="small" label="Download Draft" tabindex="0" _id="downloadDraftButton" (click)="downloadDraft()"
                  *ngIf="!hideDownloadDraftButton" [disabled]="disableDownloadDraftButton">
                </dfps-button>
            </div>
            <div class="justify-content-end p-2">
                <dfps-button class="mr-4" size="small" label="Save and Complete" _id="submitButton" (click)="submit()"
                    *ngIf="!hideSaveSubmitButton">
                </dfps-button>
                <dfps-button size="small" label="Save" _id="saveButton" (click)="save()" *ngIf="!hideSaveButton">
                </dfps-button>
            </div>
        </div>
    </form>
</div>
