<div class="container-fluid bodycolor" *ngIf="fosterCareResponse">
    <div class="row">
        <h1>Foster Care Detail</h1>
    </div>
    <div>
        <hr aria-hidden="true">
    </div>
    <dfps-form-validation [shouldCheckDirty]="true" [validationErrors]="validationErrors"
        [validationErrorsLength]="validationErrorsLength">
    </dfps-form-validation>
  <div class="alert alert-danger" *ngIf="infoDivDisplay">
    <p>Attention:</p>

    <div>
      <ul>
        <li *ngFor="let msg of informationalMsgs">
          {{ msg }}
        </li>
      </ul>
    </div>
  </div>
    <form [formGroup]="fosterCareForm">
        <div class="row">
            <div class="text-left col-2 mt-2">Invoice ID:
            </div>
            <div class="text-left col-2 mt-2">{{invoiceId}}
            </div>
            <div class="requiredDisplay text-right mt-2 col-8" tabindex="0">
                <span class="sr-only">Red asterisk is </span>required field</div>
        </div>
        <div class="row">
            <div class="text-left col-2 mt-2">Invoice Phase:
            </div>
            <div class="text-left col-2 mt-2">{{fosterCareResponse.invoice.phase}}
            </div>
            <div class="conReqDisplay text-right mt-2 col-8" tabindex="0">
                <span class="sr-only">Double dagger is </span>conditionally required field</div>
        </div>
        <br>
        <div class="form-group">
            <h2>Foster Care</h2>
            <div class="row">
                <div class="d-flex col-md-5 pt-4">
                    <label for="personId" class="col-md-3 col-form-label col-form-label-sm requiredDisplay">Person
                        ID:</label>
                    <div class="col-sm-5">
                        <dfps-input _id="personId" formControlName="personId" maxlength="10" ariaLabel="Person Id is required">
                        </dfps-input>
                    </div>
                </div>
                <div class="d-flex col-md-5 pt-4">
                    <label for="resourceId" class="col-md-3 col-form-label col-form-label-sm requiredDisplay">Resource
                        ID:</label>
                    <div class="col-sm-5">
                        <dfps-input _id="resourceId" formControlName="resourceId" maxlength="10"
                            ariaLabel="Resource Id is required">
                        </dfps-input>
                    </div>
                    <div class="col-sm-5">
                        <dfps-button class="col-md-2" label="Validate" _id="validateResourceId"
                            [hidden]="hideValidateButton" size="extraSmall" (click)="validate()">
                        </dfps-button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-md-5 pt-4">
                    <label for="name" class="col-md-3 col-form-label col-form-label-sm">Name:</label>
                    <div class="col-sm-5">
                        {{fosterCareResponse.fosterCare ? fosterCareResponse.fosterCare.fullName : ''}}
                    </div>
                </div>
                <div class="d-flex col-md-5 pt-4">
                    <label for="facilityNumber" class="col-md-3 col-form-label col-form-label-sm">Facility
                        Number:</label>
                    <div class="col-sm-5">
                        {{fosterCareResponse.fosterCare ? fosterCareResponse.fosterCare.facilityAcclaim : ''}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-md-5 pt-4">
                    <label for="month" class="col-md-3 col-form-label col-form-label-sm requiredDisplay">Month:</label>
                    <div class="col-sm-5">
                        <dfps-input _id="month" formControlName="month" maxlength="2" ariaLabel="Month is required" (inputChange)="validateMonthYear($event)">
                        </dfps-input>
                    </div>
                </div>
                <div class="d-flex col-md-5 pt-4">
                    <label for="year" class="col-md-3 col-form-label col-form-label-sm requiredDisplay">Year:</label>
                    <div class="col-sm-5">
                        <dfps-input _id="year" formControlName="year" maxlength="4" ariaLabel="Year is required" (inputChange)="validateMonthYear($event)">
                        </dfps-input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-md-5 pt-4">
                    <label for="fromDay" class="col-md-3 col-form-label col-form-label-sm conReqDisplay">From:</label>
                    <div class="col-sm-5">
                        <dfps-input _id="fromDay" formControlName="fromDay" maxlength="2" ariaLabel="From is conditionally required">
                        </dfps-input>
                    </div>
                </div>
                <div class="d-flex col-md-5 pt-4">
                    <label for="toDay" class="col-md-3 col-form-label col-form-label-sm conReqDisplay">To:</label>
                    <div class="col-sm-5">
                        <dfps-input _id="toDay" formControlName="toDay" maxlength="2" ariaLabel="To is conditionally required">
                        </dfps-input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-md-12 pt-4">
                    <label for="service"
                        class="col-sm-1 col-form-label col-form-label-sm requiredDisplay">Service:</label>
                    <div class="col-md-7 ml-4">
                        <dfps-select _id="service" formControlName="service" [dropDownValues]="service"
                            ariaLabel="Service drop down is required">
                        </dfps-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-md-5 pt-4">
                    <label for="rate" class="col-md-3 col-form-label col-form-label-sm requiredDisplay">Rate:</label>
                    <div class="col-sm-5">
                        <dfps-input _id="rate" formControlName="rate" currency=true maxlength="7"
                            ariaLabel="Rate is required">
                        </dfps-input>
                    </div>
                </div>
                <div class="d-flex col-md-5 pt-4">
                    <label for="income" class="col-md-3 col-form-label col-form-label-sm">Income:</label>
                    <div class="col-sm-5">
                        <dfps-input _id="income" formControlName="income" currency=true maxlength="11"
                            ariaLabel="Income">
                        </dfps-input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-md-5 pt-4">
                    <label for="itemTotal" class="col-md-3 col-form-label col-form-label-sm">Item Total:</label>
                    <div class="col-sm-9">
                        {{itemTotal | currency:'USD'}}
                    </div>
                    <div class="col-sm-5 ml-3">
                        <dfps-checkbox _id="isReversal" [formControl]="fosterCareForm.controls['isReversal']"
                            ariaLabel="Reversal" label="Reversal">
                        </dfps-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-md-10 justify-content-end pt-4">
                    <dfps-button label="Save" _id="contractSave" [hidden]="hideSaveButton" (click)="save()">
                    </dfps-button>
                </div>
            </div>
        </div>
    </form>
</div>
